<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
        /* Add custom classes and styles that you want inlined here */
    </style>
</head>

<body class="bg-light">
    <div class="container">
        <div class="card my-10">
            <div class="card-body">
                <h1 class="h3 mb-2">Resetting password</h1>
                <h5 class="text-teal-700">Hello,{{user_email}}</h5>
                <hr>
                <div class="space-y-3">
                    <p class="text-gray-700">
                        You can reset your password by clicking the link below
                    </p>
                </div>
                <hr>
                <a class="btn btn-primary" href="https://app.bootstrapemail.com/templates" target="_blank">Reset
                    password</a>
            </div>
        </div>
    </div>
</body>

</html>